<div id="__next">
  <main>
    <section
      class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
      style="background-image:url(/img/page-title/page1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="page__title-wrapper mt-110">
              <h3 class="page__title">Signer</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Signer
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Edit Signer
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% if (messages) { %>
    <p><%= messages.error %></p>
    <% } %>
    <section class="cart-area pt-100 pb-100">
      <div class="row">
        <div
          class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2"
        >
          <div class="sign__wrapper white-bg">
            <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
              </ul>
            </div>
            <% } %>
            <div class="sign__form">
              <form
                method="post"
                action="/signer?_method=put"
                enctype="multipart/form-data"
              >
                <div class="sign__input-wrapper mb-25">
                  <input type="hidden" name="_id" value="<%= signer._id %>" />
                  <input
                    type="hidden"
                    name="oldName"
                    value="<%= signer.oldName ||
                  signer.name %>"
                  />
                  <h5>Full Name</h5>
                  <div class="sign__input">
                    <input
                      type="name"
                      name="name"
                      placeholder="Full name"
                      required
                      value="<%= signer.name %>"
                    /><i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="sign__input-wrapper mb-25">
                  <h5>Email</h5>
                  <div class="sign__input">
                    <input
                      type="email"
                      name="email"
                      placeholder="e-mail address"
                      required
                      value="<%= signer.email%>"
                    /><i class="fa-solid fa-envelope"></i>
                  </div>
                </div>
                <div class="sign__input-wrapper mb-25">
                  <h5>Handphone Number</h5>
                  <div class="sign__input">
                    <input
                      type="nohp"
                      name="nohp"
                      placeholder="Handphone Number"
                      required
                      value="<%= signer.nohp %>"
                    /><i class="fa-solid fa-phone"></i>
                  </div>
                </div>
                <div class="sign__input-wrapper mb-25">
                  <h5>Digital Certificated</h5>

                  <input
                    type="file"
                    name="certificate"
                    placeholder="certificate"
                    id="certificate"
                  />
                </div>
                <div class="sign__input-wrapper mb-25">
                  <h5>Password</h5>
                  <div class="sign__input">
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      required
                    /><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="sign__input-wrapper mb-25">
                  <h5>Status</h5>
                  <div class="sign__input">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <select id="status_id" name="status">
                      <option value="<%= signer.status %>" selected
                        ><%= signer.status %></option
                      >
                      <option value="active" name="table1">active</option>
                      <option value="inactive" name="table2">inactive</option>
                    </select>
                  </div>
                </div>

                <div
                  class="sign__action d-flex justify-content-between mb-30"
                ></div>
                <button type="submit" class="e-btn w-100">
                  <span></span> Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
