<div id="__next">
  <main>
    <section
      class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
      style="background-image:url(assets/img/page-title/page1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="page__title-wrapper mt-110">
              <h3 class="page__title">Signed Document</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Signed Document
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cart-area pt-100 pb-100">
      <div class="container">
        <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
        <% } %>
        <div class="card">
          <div class="card-header">
            Information
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>
                All documents that you have signed are displayed on this page.
              </p>
            </blockquote>
          </div>
        </div>
        <br />
        <button class="e-btn e-btn-border col-md-2.5" type="submit">
          <a href="/document">
            Uploaded Document
          </a>
        </button>
        <button
          class="e-btn e-btn-border col-md-2 btn-active-document"
          type="submit"
        >
          <a href="/document/signed_document">
            Signed Document
          </a>
        </button>
        <button class="e-btn e-btn-border col-md-2" type="submit">
          <a href="/document/signature_request">
            Signature Request
          </a>
        </button>
        <button class="e-btn e-btn-border col-md-2" type="submit">
          <a href="/document/upload">
            Upload Document
          </a>
        </button>
        <button class="e-btn e-btn-border col-md-2" type="submit">
          <a href="/document/upload&sign">
            Upload & Sign
          </a>
        </button>
        <div class="row">
          <div class="col-12">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">No</th>

                      <th class="cart-product-name">Document</th>
                      <th class="product-price">Owner</th>
                      <th class="cart-product-name">Upload</th>
                      <th class="cart-product-name">Signed</th>

                      <th class="product-quantity">Certificate</th>

                      <th class="product-remove">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (requests.length === 0) { %>
                    <tr>
                      <td colspan="7">
                        <div class="alert alert-danger" role="alert">
                          Document is still empty.
                        </div>
                      </td>
                    </tr>
                    <% } %> <% requests.forEach((request, i) => { i++ %>
                    <tr>
                      <td scope="row"><%= i++ %></td>

                      <td><%= request.id_document.nm_document %></td>
                      <td><%= request.id_user.name %></td>
                      <td><%= request.id_document.timeCreated %></td>
                      <td><%= request.id_document.timeSigned %></td>

                      <td><%= request.certificate_number %></td>
                      <td>
                        <form
                          action="/document/download/<%= request.id_document._id %>"
                          method="POST"
                          class="d-inline"
                        >
                          <input
                            type="hidden"
                            name="_id"
                            value="<%= request.id_document._id %>"
                          />
                          <button
                            type="submit"
                            class="btn btn-success badge rounded-pill"
                          >
                            <i class="bi bi-info-circle fa fa-download"></i>
                            Download
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
