<div id="__next">
  <main>
    <section
      class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
      style="background-image:url(/img/page-title/page1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="page__title-wrapper mt-110">
              <h3 class="page__title">Signer</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Signer
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cart-area pt-100 pb-100">
      <div class="container">
        <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
        <% } %>
        <div class="row">
          <div class="col-12">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="product-thumbnail">No</th>
                      <th class="product-thumbnail">Name</th>
                      <th class="cart-product-name">Email</th>
                      <th class="product-price">Phone Number</th>
                      <th class="product-quantity">
                        Certificate
                      </th>
                      <th class="product-remove">Status</th>
                      <th class="product-remove"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (signers.length === 0) { %>
                    <tr>
                      <td colspan="5">
                        <div class="alert alert-danger" role="alert">
                          Data User masih kosong.
                        </div>
                      </td>
                    </tr>

                    <% } %> <% signers.forEach((signer, i) => { i++ %>
                    <tr>
                      <td scope="row"><%= i++ %></td>
                      <td><%= signer.name %></td>
                      <td><%= signer.email %></td>
                      <td><%= signer.nohp %></td>
                      <td>
                        <% if(signer.certificate){ %> valid <% } else { %>
                        invalid <% } %>
                      </td>
                      <td><a class="badge-success"><%= signer.status %></a></td>
                      <td>
                        <a
                          href="/signer/edit/<%= signer.name %>"
                          class="btn btn-success badge rounded-pill"
                          ><i class="bi bi-info-circle"></i> edit</a
                        >
                        <form
                          action="/signer?_method=DELETE"
                          method="POST"
                          class="d-inline"
                        >
                          <input
                            type="hidden"
                            name="email"
                            value="<%= signer.email %>"
                          />
                          <button
                            type="submit"
                            onclick="return confirm('yakin?')"
                            class="btn btn-success badge rounded-pill"
                          >
                            <i class="bi bi-info-circle"></i> delete
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
