<div id="__next">
  <main>
    <section
      class="page__title-area page__title-height page__title-overlay d-flex align-items-center"
      style="background-image:url(/img/page-title/page1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="page__title-wrapper mt-110">
              <h3 class="page__title">Staff</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Staff
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cart-area pt-100 pb-100">
      <div class="container">
        <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
        <% } %>
        <div class="row">
          <div class="col-12">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="product-thumbnail">No</th>
                      <th scope="col" class="cart-product-name">Name</th>
                      <th scope="col" class="product-price">Email</th>
                      <th scope="col" class="product-quantity">Role</th>

                      <th class="product-remove">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (users.length === 0) { %>
                    <tr>
                      <td colspan="5">
                        <div class="alert alert-danger" role="alert">
                          Data User masih kosong.
                        </div>
                      </td>
                    </tr>

                    <% } %> <% users.forEach((user, i) => { i++ %>
                    <tr>
                      <td scope="row"><%= i++ %></td>
                      <td><%= user.name %></td>
                      <td><%= user.email %></td>
                      <td><%= user.role %></td>
                      <td><a class="badge-success"><%= user.status %></a></td>
                    </tr>
                    <% }) %>

                    <!-- <tr>
                      <td class="product-thumbnail">
                        <span>6 july 2021</span>
                      </td>
                      <td class="product-name">
                        <a href="course-details.html">ilham</a>
                      </td>
                      <td class="product-price">
                        <span class="amount">Ilham@hmaol.com</span>
                      </td>
                      <td class="product-quantity">
                        <span class="badge-success"> staff</span>
                      </td>

                      <td class="product-remove">
                        <span>active</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="product-thumbnail">
                        <span>12 January 2022</span>
                      </td>
                      <td class="product-name">
                        <a href="course-details.html">abdul</a>
                      </td>
                      <td class="product-price">
                        <span class="amount">Ilham@gmail.com</span>
                      </td>
                      <td class="product-quantity">
                        <span class="badge-success">staff</span>
                      </td>

                      <td class="product-remove">
                        <span>active</span>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
